1. Load the following data into a spark data frame:
    /FileStore/sample/employees.txt

    
    You can also view the file here:
https://gitlab.com/opstar/share20/-/raw/master/employees.txt

2. Apply the correct column names using the header option

In [ ]:
e = spark.read.format('csv') \
  .option('delimiter','|') \
  .option('header','true') \
  .option('inferSchema','false') \
  .load('/FileStore/tables/employees.txt')

In [ ]:
e = spark.read.format('csv') \
  .option('delimiter','|') \
  .option('header','true') \
  .option('inferSchema','true') \
  .load('/FileStore/sample/employees.txt')

#only difference: inferschema is true

3. Create a new dataframe without the phone attribute.

In [ ]:
f = e.drop('phone') 
f.show()

#Because this is Python, the variable e could be overwritten. 
#However, overwriting a dataframe is bad form

e.selectExpr('left(phone,3) AS area')\
        .groupBy('area')\
        .agg(count('*')).show()

In [ ]:
e.where(e.hire_date < '2016-06-01').groupBy(e.manager_id*100).agg(count('*')).show()

In [ ]:
e.agg(avg('manager_id')).show()

e.select('manager_id').distinct().show()

In [ ]:
from pyspark.sql.functions import count, avg, min, countDistinct

# SELECT manager_id, MIN(hire_date) FROM e GROUP BY manager_id

e.groupBy('manager_id')\
    .agg(
        min('hire_date')
        , count('hire_date').alias('cnt')
        , countDistinct('hire_date').alias('dcnt')
        ).show()